n8n/workflows/lockin-relances-quotidiennes.json
{
  "name": "LockIn — Relances quotidiennes",
  "nodes": [
    {
      "parameters": {
        "content": "## LockIn × n8n\n\n**Variables d'environnement n8n** (Settings → Variables) :\n- `CRON_SECRET` — identique à Vercel / lockin-web\n- `LOCKIN_API_URL` — URL prod (ex. `https://app.lockin.app`)\n- `LOCKIN_FROM_EMAIL` — expéditeur SMTP\n\n**Flux :** Cron 08h Paris → GET relances → check-status (payé ?) → email ou annulation → ack\n\n**Après import :** credentials SMTP, activer le workflow, tester « Execute workflow ».",
        "height": 360,
        "width": 440,
        "color": 6
      },
      "id": "f8a1c2b3-4d5e-6f70-8192-a3b4c5d6e7f0",
      "name": "Note de configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "timezone": "Europe/Paris"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
      "name": "1. Tous les jours 08h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances-du-jour' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
      "name": "2. Récupérer relances du jour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst items = Array.isArray(payload?.items) ? payload.items : [];\n\nif (items.length === 0) {\n  return [];\n}\n\nreturn items.map((item) => ({ json: item }));"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
      "name": "3. Parcourir chaque relance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
      "name": "4. Une relance à la fois",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => {\n  const relance = $json;\n  const ids = Array.isArray(relance.ligneIds) && relance.ligneIds.length\n    ? relance.ligneIds\n    : [relance.ligneId];\n  const query = ids.filter(Boolean).join(',');\n  return $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/check-status?ids=' + encodeURIComponent(query);\n})() }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f123456780a1",
      "name": "5. Vérifier statut (check-status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-send-relance",
              "leftValue": "={{ $json.shouldSend }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456780a2b",
      "name": "6. Encore à envoyer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.LOCKIN_FROM_EMAIL }}",
        "toEmail": "={{ $('4. Une relance à la fois').item.json.to }}",
        "subject": "={{ $('4. Une relance à la fois').item.json.subject }}",
        "emailFormat": "html",
        "html": "={{ $('4. Une relance à la fois').item.json.body }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "7. Envoyer l'email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1920, 180],
      "onError": "continueErrorOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const input = $input.item;\n  const failed = Boolean(input.error);\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  if (failed) {\n    return {\n      deliveryIds,\n      deliveryId: relance.deliveryId,\n      status: 'failed',\n      errorMessage: String(input.error?.message || input.error?.description || 'Échec envoi email'),\n    };\n  }\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'sent',\n    providerMessageId: String($execution.id),\n    provider: 'smtp',\n    sentAt: new Date().toISOString(),\n  };\n})() }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567806",
      "name": "8. Accuser réception (ack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'cancelled',\n    errorMessage: 'Facture payée ou relance retirée avant envoi.',\n  };\n})() }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-23456780a3c4",
      "name": "9. Annuler (payé / retiré)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 440]
    }
  ],
  "connections": {
    "1. Tous les jours 08h00": {
      "main": [
        [
          {
            "node": "2. Récupérer relances du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Récupérer relances du jour": {
      "main": [
        [
          {
            "node": "3. Parcourir chaque relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Parcourir chaque relance": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Une relance à la fois": {
      "main": [
        [
          {
            "node": "5. Vérifier statut (check-status)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "5. Vérifier statut (check-status)": {
      "main": [
        [
          {
            "node": "6. Encore à envoyer ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Encore à envoyer ?": {
      "main": [
        [
          {
            "node": "7. Envoyer l'email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9. Annuler (payé / retiré)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Envoyer l'email": {
      "main": [
        [
          {
            "node": "8. Accuser réception (ack)",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "8. Accuser réception (ack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Accuser réception (ack)": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Annuler (payé / retiré)": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "active": false,
  "versionId": "lockin-relances-v2-check-status"
}
