n8n/workflows/lockin-relances-quotidiennes.json
{
  "name": "LockIn — Relances quotidiennes",
  "nodes": [
    {
      "parameters": {
        "content": "## LockIn × n8n — V4 Multi-Canal (Email, SMS & Les 2)\n\n**Variables n8n** (Settings → Variables) :\n- `CRON_SECRET` — identique à Vercel / lockin-web\n- `LOCKIN_API_URL` — ex. `https://lockin-web.online`\n- `LOCKIN_FROM_EMAIL` — expéditeur SMTP\n- `TWILIO_FROM_NUMBER` — numéro expéditeur SMS (E.164)\n\n**Credentials n8n :** SMTP + Twilio API\n\n**Flux :** Cron 08h Paris → GET relances → boucle → check-status (`id`) → aiguillage `channel` → envoi SMTP / Twilio (`continueOnFail`) → ack JS → si payé : ack `cancelled`.",
        "height": 320,
        "width": 480,
        "color": 6
      },
      "id": "fef435d4-59a7-43e1-aa09-b8960c2cc16a",
      "name": "Note de configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "timezone": "Europe/Paris"
      },
      "id": "78ae503b-18db-453a-b199-6f806e143a9c",
      "name": "1. Tous les jours 08h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances-du-jour' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "2408734d-f5eb-4f8c-8329-e17e44bba28e",
      "name": "2. Récupérer relances du jour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first()?.json;\nconst items = Array.isArray(payload?.items) ? payload.items : [];\n\nif (items.length === 0) {\n  return [];\n}\n\nreturn items.map((item) => ({ json: item }));"
      },
      "id": "4d4a013f-ca3d-459c-9089-47599af80ab2",
      "name": "3. Parcourir chaque relance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "546e3167-09f7-486d-b4ab-0884252b9860",
      "name": "4. Une relance à la fois",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/check-status?ids=' + encodeURIComponent((Array.isArray($json.ligneIds) && $json.ligneIds.length ? $json.ligneIds : [$json.ligneId]).join(',')) }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "9e52a9cd-eea5-48b6-ba34-33b707ec9dc0",
      "name": "5. Vérifier statut (check-status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-send-relance",
              "leftValue": "={{ $json.shouldSend }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "889d241d-bc30-45d5-b01b-3f35ae32fc67",
      "name": "6. Encore à envoyer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value": "={{ $('4. Une relance à la fois').item.json.channel || 'email' }}",
        "rules": {
          "rules": [
            {
              "value": "email",
              "output": 0
            },
            {
              "value": "sms",
              "output": 1
            },
            {
              "value": "both",
              "output": 2
            }
          ]
        }
      },
      "id": "c1f77d8a-9f5a-4b0d-83cb-f166163ee9a4",
      "name": "7. Aiguillage Canal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.LOCKIN_FROM_EMAIL }}",
        "toEmail": "={{ $('4. Une relance à la fois').item.json.to }}",
        "subject": "={{ $('4. Une relance à la fois').item.json.subject }}",
        "emailFormat": "html",
        "html": "={{ $('4. Une relance à la fois').item.json.body }}",
        "options": {
          "ccEmail": "={{ $('4. Une relance à la fois').item.json.cc || '' }}"
        }
      },
      "id": "e823f9b2-3642-4f11-9fa6-07f8cfcb9b01",
      "name": "8a. Envoyer l'email (Seul)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2200, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const nodeEmail = $(\"8a. Envoyer l'email (Seul)\").item;\n  const failed = Boolean(nodeEmail.error);\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  if (failed) {\n    return {\n      deliveryIds,\n      deliveryId: relance.deliveryId,\n      status: 'failed',\n      errorMessage: String(nodeEmail.error?.message || nodeEmail.error?.description || 'Échec envoi e-mail'),\n    };\n  }\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'sent',\n    providerMessageId: String($execution.id) + '-mail',\n    provider: 'smtp',\n    sentAt: new Date().toISOString(),\n  };\n})() }}",
        "options": {}
      },
      "id": "f5d0f19c-8a3b-4871-912b-3a51bc97855b",
      "name": "9a. Ack Email (Seul)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 200]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $('4. Une relance à la fois').item.json.phone }}",
        "message": "={{ $('4. Une relance à la fois').item.json.smsBody }}",
        "options": {}
      },
      "id": "180b5b08-963d-4c38-89c0-be358245cd98",
      "name": "8b. Envoyer le SMS (Seul)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const nodeSMS = $(\"8b. Envoyer le SMS (Seul)\").item;\n  const failed = Boolean(nodeSMS.error);\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  if (failed) {\n    return {\n      deliveryIds,\n      deliveryId: relance.deliveryId,\n      status: 'failed',\n      errorMessage: String(nodeSMS.error?.message || nodeSMS.error?.description || 'Échec envoi SMS Twilio'),\n    };\n  }\n\n  const sid = nodeSMS.json?.sid;\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'sent',\n    providerMessageId: sid ? String(sid) : String($execution.id) + '-sms',\n    provider: 'twilio',\n    sentAt: new Date().toISOString(),\n  };\n})() }}",
        "options": {}
      },
      "id": "cb1c7d8a-9f5a-4b0d-83cb-f166163ee9cc",
      "name": "9b. Ack SMS (Seul)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.LOCKIN_FROM_EMAIL }}",
        "toEmail": "={{ $('4. Une relance à la fois').item.json.to }}",
        "subject": "={{ $('4. Une relance à la fois').item.json.subject }}",
        "emailFormat": "html",
        "html": "={{ $('4. Une relance à la fois').item.json.body }}",
        "options": {
          "ccEmail": "={{ $('4. Une relance à la fois').item.json.cc || '' }}"
        }
      },
      "id": "e919f2b8-1642-4f11-9fa6-07f8cfcb9b01",
      "name": "8c. Envoyer l'email (Double)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2200, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $('4. Une relance à la fois').item.json.phone }}",
        "message": "={{ $('4. Une relance à la fois').item.json.smsBody }}",
        "options": {}
      },
      "id": "210b5b08-963d-4c38-89c0-be358245cd98",
      "name": "8d. Envoyer le SMS (Double)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2480, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const nodeEmail = $(\"8c. Envoyer l'email (Double)\").item;\n  const nodeSMS = $(\"8d. Envoyer le SMS (Double)\").item;\n  const emailFailed = Boolean(nodeEmail.error);\n  const smsFailed = Boolean(nodeSMS.error);\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  const errors = [];\n  if (emailFailed) {\n    errors.push('Email : ' + String(nodeEmail.error?.message || nodeEmail.error?.description || 'Échec envoi e-mail'));\n  }\n  if (smsFailed) {\n    errors.push('SMS : ' + String(nodeSMS.error?.message || nodeSMS.error?.description || 'Échec envoi SMS Twilio'));\n  }\n\n  if (errors.length) {\n    return {\n      deliveryIds,\n      deliveryId: relance.deliveryId,\n      status: 'failed',\n      errorMessage: errors.join(' ; '),\n    };\n  }\n\n  const smsSid = nodeSMS.json?.sid;\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'sent',\n    providerMessageId: [String($execution.id) + '-mail', smsSid ? String(smsSid) : String($execution.id) + '-sms'].join(','),\n    provider: 'smtp+twilio',\n    sentAt: new Date().toISOString(),\n  };\n})() }}",
        "options": {}
      },
      "id": "ab1c7d8a-9f5a-4b0d-83cb-f166163ee9dd",
      "name": "9c. Ack Double",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2760, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOCKIN_API_URL.replace(/\\/$/, '') + '/api/cron/relances/ack' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const relance = $('4. Une relance à la fois').item.json;\n  const deliveryIds = Array.isArray(relance.deliveryIds) && relance.deliveryIds.length\n    ? relance.deliveryIds\n    : [relance.deliveryId];\n\n  return {\n    deliveryIds,\n    deliveryId: relance.deliveryId,\n    status: 'cancelled',\n    errorMessage: 'Facture payée ou relance retirée avant envoi.',\n  };\n})() }}",
        "options": {}
      },
      "id": "7dd7d948-af3c-4ac2-901c-bb0fab8b54dd",
      "name": "10. Annuler (payé / retiré)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 640]
    }
  ],
  "connections": {
    "1. Tous les jours 08h00": {
      "main": [
        [
          {
            "node": "2. Récupérer relances du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Récupérer relances du jour": {
      "main": [
        [
          {
            "node": "3. Parcourir chaque relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Parcourir chaque relance": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Une relance à la fois": {
      "main": [
        [
          {
            "node": "5. Vérifier statut (check-status)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "5. Vérifier statut (check-status)": {
      "main": [
        [
          {
            "node": "6. Encore à envoyer ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Encore à envoyer ?": {
      "main": [
        [
          {
            "node": "7. Aiguillage Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Annuler (payé / retiré)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Aiguillage Canal": {
      "main": [
        [
          {
            "node": "8a. Envoyer l'email (Seul)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8b. Envoyer le SMS (Seul)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8c. Envoyer l'email (Double)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8a. Envoyer l'email (Seul)": {
      "main": [
        [
          {
            "node": "9a. Ack Email (Seul)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9a. Ack Email (Seul)": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8b. Envoyer le SMS (Seul)": {
      "main": [
        [
          {
            "node": "9b. Ack SMS (Seul)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9b. Ack SMS (Seul)": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8c. Envoyer l'email (Double)": {
      "main": [
        [
          {
            "node": "8d. Envoyer le SMS (Double)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8d. Envoyer le SMS (Double)": {
      "main": [
        [
          {
            "node": "9c. Ack Double",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9c. Ack Double": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Annuler (payé / retiré)": {
      "main": [
        [
          {
            "node": "4. Une relance à la fois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "active": false,
  "versionId": "lockin-relances-v4-switch-canal"
}
